trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  nodeVersion: '18.x'

steps:
# Install Node
- task: NodeTool@0
  inputs:
    versionSpec: '$(nodeVersion)'
  displayName: 'Install Node.js'

# Backend build
- script: |
    cd backend
    npm install
  displayName: 'Backend Build'

# Frontend build
- script: |
    cd frontend
    npm install
    npm install -g @angular/cli
    ng build --configuration=production
  displayName: 'Angular Build'

# Publish full app
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)'
    ArtifactName: 'app'

# DEPLOYMENT 

- task: DownloadBuildArtifacts@0
  inputs:
    artifactName: 'app'

- task: SSH@0
  inputs:
    sshEndpoint: 'azure-vm-ssh'
    runOptions: inline
    inline: |
      echo "Deploying Angular..."
      rm -rf /var/www/html/*
      cp -r frontend/dist/* /var/www/html/

      echo "Deploying Node backend..."
      cd /opt/node-app
      rm -rf *
      cp -r backend/* .

      npm install
      pm2 restart node-api || pm2 start app.js --name node-api
      pm2 save
